.WebDocsApplication .libExplorer .libNavTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	background-image:url('%resources%/icons/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	cursor: pointer;
}
.WebDocsApplication .libExplorer .libNavTool:hover {
	opacity: 1.0;
}
.WebDocsApplication .libExplorer .libNavTool.refresh {
	background-position: 0px -48px;
}
.WebDocsApplication .libExplorer .libNavTool.create_new {
	background-position: 0px -16px;
}





.WebDocsApplication .libExplorer .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/icons/fileThumbs.svg');
}
.WebDocsApplication .libExplorer .contentIcon.libIco {
	background-position:0px 0px;
}
.WebDocsApplication .libExplorer .contentIcon.pkgIco {
	background-position:0px -32px;
}
.WebDocsApplication .libExplorer .open > :not(ul):not(.subTreeView) .contentIcon.pkgIco {
	background-position:0px -16px;
}
.WebDocsApplication .libExplorer .contentIcon.fldIco {
	background-position:0px -48px;
}
.WebDocsApplication .libExplorer .contentIcon.flIco {
	background-position:0px -64px;
	background-size: cover;
}