<div class="docOuterContainer">
	<div class="toolbar">
		<div class="create_new">
			<div class="expand">
				<div class="ico" />
			</div>
			<div class="sbutton new_folder" data-literal='{"scope":"documents.main","name":"lbl_newFolder"}' />
			<div class="sbutton new_document" data-literal='{"scope":"documents.main","name":"lbl_newDocument"}' />
			<div class="sbutton delete_folder" data-literal='{"scope":"documents.main","name":"lbl_delFolder"}' />
		</div>
		<div class="hd current_time" />
	</div>
	<div class="docContainer" />
</div>